body {
    width: auto;
    background-color: black;
    color: #efeff1;
    margin: 0px;
}

.main {
    margin: 15px;
    margin-bottom: 0px;
}

h1 {
    font-size: 1.6em;
    width: max-content;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.twitch_shadow {
    font-size: 1.7em;
    text-shadow: -4px 5px 1px #a970ff, -3px 4px 1px #a970ff, -2px 3px 1px #a970ff, -1px 2px 1px #a970ff, 
    -2px 0px 1px #a970ff, -3px 1px 1px #a970ff, -4px 2px 1px #a970ff ;
}

.toggle {
    margin-left: 10px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
}

.toggle p {
    margin: 0px;
}